<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
  <style>
    /* Set box-sizing */
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
      line-height: 1.5;
      min-height: 100vh;
      background-color: #fff;
      color: #333;
    }

    /* Ensure form elements inherit font */
    button,
    input,
    select,
    textarea {
      font: inherit;
    }
  </style>

  <script type="module" src="/src/index.tsx"></script>
</body>
